
.productContainer {
	display:inline-flex;
   width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: 160px;
  flex-wrap:wrap;
}

.leftPanel {
	  height: 100%;
	  width: 160px; 
	  position: fixed; 
	  z-index: 1;
	  top: 0;
	  left: 0;
	  overflow-x: hidden;
	  padding-top: 20px;
	  border-right:1px solid dimgray;
}

.leftPanel input[type=button]{
	display:block;
	border:0px;
	width:160px;
	margin-bottom:5px;
	background-color:white;
}

.leftPanel p{
	text-align:center;
	font-weight:bold;
}

.cards {
    width:20%;
    height:25em;
    text-align:center;
    margin:0.5em;
}

.cards img {
    width:100%;
    height:70%;
    object-fit: cover;
}

.itemName , .itemPrice {
	font-family:'Montserrat', sans-serif;
	font-size:1em;
}

.loginBlur{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    background-color:rgba(200, 200, 200, 0.5);
    width:100%;
    height:100%;
    
}

.loginPop{
    position:fixed;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: block;
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom:3%;
    background-color: black;
    margin-left:35%;
    margin-right:35%;
    margin-top:5%;
    color:white;
    border-radius: 2em;
    box-shadow:2px 2px 5px dimgray;
}

.loginPop input{
    margin-bottom: 2em;
    height:2em;
}

.loginPop input[type=button]{
    padding-left:1em;
    padding-right: 1em;
    font-family: 'Montserrat','Sans serif';
    font-size:1em;
    color:black;
    background-color: white;
    border: none;
}
.toRegister:hover,
.toRegister:focus {
	color: #FE4646;
	text-decoration: none;
	cursor: pointer;
}

#btnClose {
	color:white;
	font-weight:bold;
	background-color:black;
	border:1px solid white;
	border-radius:100px;
}
