body{
    font-family:'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.addCartPop{
    position:fixed;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: block;
    padding:3%;
    background-color: black;
    margin-left:35%;
    margin-right:35%;
    margin-top:5%;
    color:white;
    border-radius: 2em;
    box-shadow:2px 2px 5px dimgray;
}  

.addCartBlur{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    background-color:rgba(200, 200, 200, 0.2);
    width:100%;
    height:100%;
    
}

.addCartBlur input[type=button] {
	padding-left:1em;
	padding-right:1em;
	margin-left:1em;
	margin-right:1em;
	background-color:black;
	color:white;
	border:0;
}

.addCartButtons {
	text-align:center;
	justify-content: space-between;
	align-items: center;
}

.itemContainer {
    margin-left: 10%;
    margin-right:10%;
    margin-top: 5em;
    display: flex;
}

.itemView {
    width:50%;
    height:30em;
    text-align:center;
    margin:1em;
}

.itemView img {
    width:90%;
    height:90%;
    object-fit: contain;
}
.itemDesc {
    width:50%;
    margin-top: 2em;
    font-size: 1.5em;
}

.btnBuy, .btnAddCart {
    padding-left:1em;
    padding-right: 1em;
    font-family: 'Montserrat','Sans serif';
    font-size:1em;
    color:white;
    background-color: black;
    border: none;
}

.description {
    font-size:0.7em;
}



#btnCheckout {
    font-family: 'Montserrat','Sans Serif';
    font-weight:bold;
    font-size:1em;
    padding:1em;
    color:white;
    background-color: black;
    text-align: center;
}

.account{
    position:absolute;
    top:5em;
    right:0;
    width:10%;
    display:inline;
    border:1px solid black;
}

.loginBlur{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    background-color:rgba(200, 200, 200, 0.5);
    width:100%;
    height:100%;
    display:none;
}

.loginPop{
    position:fixed;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: block;
    padding:10%;
    background-color: black;
    margin-left:35%;
    margin-right:35%;
    margin-top:5%;
    color:white;
    border-radius: 2em;
    box-shadow:2px 2px 5px dimgray;
}

.loginPop input{
    margin-bottom: 2em;
    height:2em;
}

.loginPop input[type=button]{
    padding-left:1em;
    padding-right: 1em;
    font-family: 'Montserrat','Sans serif';
    font-size:1em;
    color:black;
    background-color: white;
    border: none;
}
.toRegister:hover,
.toRegister:focus {
	color: #FE4646;
	text-decoration: none;
	cursor: pointer;
	
}

#btnClose {
	color:white;
	font-weight:bold;
	background-color:black;
	border:1px solid white;
	border-radius:100px;
}


  
 